            <p style="line-height: 1;"><font size=+1.5><br><b>&#x2022; Award</b></font>
              <!-- <hr width="70%" align="left"> -->
            </p>
            <font size=+0.5><b>Merit Academic Paper Award</b></font>
            <br>
            <font size=-1.5>2022-2 Yonsei Superior Paper Awards, Dec 2022</font>

            <p style="line-height: 1.3;"><font size=+1.5><br><b>&#x2022; Reviewer</b></font>
              <!-- <hr width="70%" align="left"> -->
            </p>
            <font size=+0.5><b>CVPR 2022-2023, ICCV 2023, TMLR 2023, ECCV 2022</b></font>

            <p style="line-height: 1.3;"><font size=+1.5><br><b>&#x2022; Talks</b></font>
              <!-- <hr width="70%" align="left"> -->
            </p>
            <font size=+0.5><b>Just One Moment: Structural Vulnerability of Deep Action Recognition Against One Frame Attack</b></font>
            <br>
            <font size=-1.5>Korean Conference on Computer Vision (KCCV), 2022</font>
            
