
    <header>

      <!-- Nav Bar -->
      <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
        <div class="container">
          <a class="navbar-brand title font-weight-lighter" href="/">
            <span class="font-weight-light">Jaehui Hwang</span>
          </a>
          <!-- Navbar Toggle -->
          <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>

          <div class="collapse navbar-collapse text-right" id="navbarNav">
            <ul class="navbar-nav ml-auto flex-nowrap">
              <!-- About -->
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span class="font-weight-bold">About</span>
                </a>
              </li>

              <!-- Other pages -->
              <li class="nav-item">
                <a class="nav-link" href="#pub">
                  <span class="font-weight-bold">Publications</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#act">
                  <span class="font-weight-bold">Activities</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/CV4_240103.pdf" download>
                  <span class="font-weight-bold">CV</span>
                </a>
              </li>


              <li class="toggle-container">
                <button id="light-toggle" title="Change theme">
                  <i class="fa-solid fa-sun"></i>
                  <i class="fa-solid fa-moon"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
{% if site.enable_progressbar %}
      <!-- Scrolling Progress Bar -->
      <progress id="progress" value="0">
        <div class="progress-container">
          <span class="progress-bar"></span>
        </div>
      </progress>
{%- endif %}
    </header>
