            <p style="line-height: 1;"><font size=+1.5><br><b>&#x2022; Conference</b></font>
              <!-- <hr width="70%" align="left"> -->
            </p>

            <font size=+0.5><b>Similarity of Neural Architectures using Adversarial Attack Transferability</b></font>
            <br>
            <font size=-1.5><b>Jaehui Hwang</b>, Dongyoon Han, Byeongho Heo, Song Park, Sanghyuk Chun*, Jong-Seok Lee*&nbsp;&nbsp;
            <br>
            <font size=-1.5>European Conference on Computer Vision (<b>ECCV</b>), 2024 (accepted)&nbsp;&nbsp;
            <a class="publication-link" href="https://arxiv.org/abs/2210.11407" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Arxiv
            </a>
            </font>
            <p style="line-height: 0.5;"></p>
                        
            <font size=+0.5><b>Anomaly Score: Evaluating Generative Models and Individual Generated Images based on Complexity and Vulnerability</b></font>
            <br>
            <font size=-1.5><b>Jaehui Hwang</b>*, Junghyuk Lee*, Jong-Seok Lee&nbsp;&nbsp;
            <br>
            <font size=-1.5>IEEE/CVF Computer Vision and Pattern Recognition (<b>CVPR</b>), 2024&nbsp;&nbsp;
            <a class="publication-link" href="https://openaccess.thecvf.com/content/CVPR2024/html/Hwang_Anomaly_Score_Evaluating_Generative_Models_and_Individual_Generated_Images_based_CVPR_2024_paper.html" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Detail
            </a> &nbsp;
            <a class="publication-link" href="https://arxiv.org/abs/2210.11407" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Arxiv
            </a>
            </font>
            <p style="line-height: 0.5;"></p>
            
            <font size=+0.5><b>Just One Moment: Structural Vulnerability of Deep Action Recognition against One Frame Attack</b></font>
            <br>
            <font size=-1.5> <b>Jaehui Hwang</b>, Jun-Hyuk Kim, Jun-Ho Choi, Jong-Seok Lee </font>
            <br>
            <font size=-1.5>IEEE/CVF International Conference on Computer Vision (<b>ICCV</b>), 2021&nbsp;&nbsp;
            <a class="publication-link" href="https://openaccess.thecvf.com/content/ICCV2021/html/Hwang_Just_One_Moment_Structural_Vulnerability_of_Deep_Action_Recognition_Against_ICCV_2021_paper.html" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Detail
            </a> &nbsp; 
            <a class="publication-link" href="https://arxiv.org/abs/2011.14585v2" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Arxiv
            </a>
            </font>
            <p style="line-height: 0.5;"></p>

            <font size=+0.5><b>On the Repeatability of EEG-based Image Quality Assessment</b></font>
            <br>
            <font size=-1.5><b>Jaehui Hwang</b>, Seong-Eun Moon, Jong-Seok Lee</font>
            <br>
            <font size=-1.5>IEEE International Conference Conference on Systems, Man, and Cybernetics (SMC), 2018&nbsp;&nbsp;
            <a class="publication-link" href="https://ieeexplore.ieee.org/document/8616304" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Detail
            </a> &nbsp; 
            </font>
            <p style="line-height: 0.5;"></p>
            <font size=+0.5><b>TDOA-based ASF Map Generation to Increase Loran Positioning Accuracy in Korea</b></font>
            <br>
            <font size=-1.5><b>Jaehui Hwang</b>, Pyo-Woong Son, Jiwon Seo</font>
            <br>
            <font size=-1.5>IEEE International Conference on Consumer Electronics-Asia (ICCE-Asia), 2018&nbsp;&nbsp;
            <a class="publication-link" href="https://ieeexplore.ieee.org/document/8552129" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Detail
            </a> &nbsp; 
            </font>
            

            <p style="line-height: 1.3;"><font size=+1.5><br><b>&#x2022; Journal</b></font>
              <!-- <hr width="70%" align="left"> -->
            </p>
            <font size=+0.5><b>Temporal Shuffling for Defending Deep Action Recognition Models against Adversarial Attacks</b></font>
            <br>
            <font size=-1.5><b>Jaehui Hwang</b>, Huan Jhang, Jun-Ho Choi, Cho-Jui Hsieh, Jong-Seok Lee </font>
            <br>
            <font size=-1.5>Neural Networks, vol. 169, pp. 388-397, Jan. 2024&nbsp;&nbsp;
            <a class="publication-link" href="https://doi.org/10.1016/j.neunet.2023.10.033" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Detail
            </a> &nbsp; 
            <a class="publication-link" href="https://https://arxiv.org/abs/2112.07921" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Arxiv
            </a>
            </font>
            <p style="line-height: 0.5;"></p>

            <font size=+0.5><b>Classifying Gas Data Measured Under Multiple Conditions Using Deep Learning</b></font>
            <br>
            <font size=-1.5>Hojung Lee, <b>Jaehui Hwang</b>, Hwin Dol Park, Jaehun Choi, Jong-Seok Lee </font>
            <br>
            <font size=-1.5>IEEE Access, vol. 10, pp. 68138-68150, Jun. 2022&nbsp;&nbsp;
            <a class="publication-link" href="https://ieeexplore.ieee.org/document/9804485" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Detail
            </a> &nbsp; 
            </font>
            <p style="line-height: 0.5;"></p>

            <font size=+0.5><b>Universal Kriging for Loran ASF Map Generation</b></font>
            <br>
            <font size=-1.5>Pyo-Woong Son, Jun Hyo Rhee, <b>Jaehui Hwang</b>, Jiwon Seo</font>
            <br>
            <font size=-1.5>IEEE Transactions on Aerospace and Electronic Systems (TAES), vol. 55, pp. 1828 - 1842, 2018&nbsp;&nbsp;
            <a class="publication-link" href="https://ieeexplore.ieee.org/document/8496883" target="blank">
              <i class="fa fa-external-link-square">
              </i>
              Detail
            </a> &nbsp; 
            </font>
            <!-- <p style="line-height: 0.5;"></p> -->

<!--             <p style="line-height: 1.3;"><font size=+1.5><br><b>&#x2022; Pre-print</b></font>
            </p>
            
            
<!--             <p style="line-height: 0.5;"></p> --> -->
            
