---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        
        <article>
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            <img src="../assets/img/fig_j.jpg" style="width:160px;height:225px;" >
          </div>
          

          <div class="clearfix">
            {{ content }}
          
            <font size=+0.5><b>Experiences</b></font> <br>
            &#x2022; Research intern at <a href="https://naver-career.gitbook.io/en/teams/clova-cic">Naver AI LAB</a> (Mar. 2022 - Sep. 2022)
          </div>
          
  
          <!-- News -->
          <!-- {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %} -->

          <!-- Latest posts -->
          <!-- {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %} -->

          <!-- Selected papers -->
          <br>
          <hr size=10;>
          <font size=+2.5><a id="pub" style="color: inherit;"><b>Publications</b></a></font>
          <!-- <hr size=10;> -->
          {%- include selected_papers.html %}
          
          <br>
          <hr size=10;>
          <font size=+2.5><a id="act" style="color: inherit;"><b>Academic activities</b></a></font>
          <!-- <hr size=10;> -->
          {%- include academics.html %}
          <br>
          <br>
          <!-- Social -->
          <div class="social">
            <i class="fa fa-envelope" style="font-size:16px"></i>&nbsp;
            <font size=-0.5>jaehui.hwang@yonsei.ac.kr</font>

          </div>
        </article>

</div>
